// ---- VARIABLES ----

// ---- GRID ----

$sm-min-width: 768px;
$md-min-width: 992px;
$lg-min-width: 1200px;

$gutter: 30px;

// ---- TYPOGRAPHY ----

$fonts: "Flama Light", "Flama", Helvetica, Arial, sans-serif;
